SET(CMAKE_CXX_COMPILER "clang++" CACHE STRING "")
SET(CMAKE_C_COMPILER "clang" CACHE STRING "")
SET(CMAKE_Fortran_COMPILER "false" CACHE STRING "")

SET(DEAL_II_CXX_FLAGS "-march=native -pipe" CACHE STRING "")
SET(DEAL_II_LINKER_FLAGS "-march=native -pipe" CACHE STRING "")

SET(DEAL_II_WITH_MPI ON CACHE BOOL "")
