SET(CMAKE_CXX_COMPILER "clang++" CACHE STRING "")
SET(CMAKE_C_COMPILER "clang" CACHE STRING "")
SET(CMAKE_Fortran_COMPILER "false" CACHE STRING "")

SET(CMAKE_CXX_FLAGS "-pipe -stdlib=libc++" CACHE STRING "")
SET(DEAL_II_LINKER_FLAGS "-pipe -stdlib=libc++" CACHE STRING "")

SET(DEAL_II_ALLOW_AUTODETECTION OFF CACHE BOOL "")

SET(DEAL_II_WITH_CXX11 ON CACHE STRING "")

SET(DEAL_II_WITH_BOOST ON CACHE BOOL "")
SET(DEAL_II_FORCE_BUNDLED_BOOST TRUE CACHE BOOL "")

SET(DEAL_II_WITH_FUNCTIONPARSER ON CACHE BOOL "")
SET(DEAL_II_FORCE_BUNDLED_FUNCTIONPARSER TRUE CACHE BOOL "")

SET(DEAL_II_WITH_LAPACK ON CACHE BOOL "")

SET(DEAL_II_WITH_THREADS ON CACHE BOOL "")
SET(DEAL_II_FORCE_BUNDLED_THREADS TRUE CACHE BOOL "")

SET(DEAL_II_WITH_UMFPACK ON CACHE BOOL "")
SET(DEAL_II_FORCE_BUNDLED_UMFPACK TRUE CACHE BOOL "")
