SET(CMAKE_CXX_COMPILER "g++-4.9.2" CACHE STRING "")
SET(CMAKE_C_COMPILER "gcc-4.9.2" CACHE STRING "")
SET(CMAKE_Fortran_COMPILER "gfortran-4.9.2" CACHE STRING "")

SET(CMAKE_CXX_FLAGS "-pipe" CACHE STRING "")

SET(DEAL_II_ALLOW_AUTODETECTION OFF CACHE BOOL "")

SET(DEAL_II_WITH_CXX11 ON CACHE STRING "")

SET(DEAL_II_WITH_BOOST ON CACHE BOOL "")
SET(DEAL_II_FORCE_BUNDLED_BOOST TRUE CACHE BOOL "")

SET(DEAL_II_WITH_FUNCTIONPARSER ON CACHE BOOL "")
SET(DEAL_II_FORCE_BUNDLED_FUNCTIONPARSER TRUE CACHE BOOL "")

SET(DEAL_II_WITH_LAPACK ON CACHE BOOL "")

SET(DEAL_II_WITH_THREADS ON CACHE BOOL "")
SET(DEAL_II_FORCE_BUNDLED_THREADS TRUE CACHE BOOL "")

SET(DEAL_II_WITH_UMFPACK ON CACHE BOOL "")
SET(DEAL_II_FORCE_BUNDLED_UMFPACK TRUE CACHE BOOL "")
